@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define default light theme colors */
:root {
  --foreground-color: black;
  --background-color: #d6dbdc;
}

/* Apply theme colors */
body {
  color: var(--foreground-color);
  /* background-color: var(--background-color); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
